@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

/* VARIABLE SETTING */
:root {
    --White: #fff;
    --Black: rgb(31, 30, 30);
    --Gray: rgb(66, 66, 66);
    --Green: rgb(70, 248, 129);
    --Red: rgb(252, 32, 105);

    --Transition: all linear 250ms;
    --BorderRadius: 4px;
    --BorderWhite: 1px solid var(--White);
    --BorderBlack: 1px solid var(--Black);

    --FontFamilyTitle: 'Poppins', sans-serif;
    --FontFamilyText: 'Helvetica Neue' 'SF Pro' 'Roboto', sans-serif;
    --FontSizeTitle: 3rem;
    --FontSizeMedium: 1.5rem;
    --FontSizeText: 1.1rem;
    --FontSizeSmall: .9rem;
    --FontSizeXsmall: .7rem;
}


#root, body, html {
    height: 100%;
    font-family: var(--FontFamilyText);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(-30deg, #974127, #830736, #15556d, #1bbb96);
    background-size: 300% 300%;
    animation: bgChange 12s ease infinite;
}

@keyframes bgChange {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes blink {
    0% {
        opacity: 0.1;
    } 
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    } 
}

.appContainer {
    /* height: 100vh; */ 
}

.sky {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
/* STYLE SETTINGS */
.row {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}
.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.between {
    justify-content: space-between;
}



.title {
    font-family: var(--FontFamilyTitle);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0.8rem auto;
}

.title.small {
    font-size: var(--FontSizeMedium);
    font-weight: 500;
    color: var(--White);
}

.title__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.margin.right{
    margin-right: 1rem;
}

/* NAVBAR SETTINGS */
.nav {
    width: 100%;
    color: var(--White);
    padding: 1rem 2rem;
}

.nav__logo {
    width: 40px;
    height: 40px;
    color: var(--White);
    margin-right: 1rem;
    border-radius: 50%;
    animation: lighton 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo__img {
    width: 40px;
}

.nav__hello {
    transition: var(--Transition);
    position: relative;
}

.nav__hello * {
    cursor: pointer;
}

.nav__hello__underbar {
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 3px;
    width: 0;
    border-bottom: 2px solid var(--White);
    transition: var(--Transition);
}

.nav__hello:hover .nav__hello__underbar {
    width: 100%;
}

.nav__downmenu {
    position: absolute;
    bottom: -110px;
    left: 0;
    display: none;
}

.nav__downmenu div {
    margin-bottom: 10px;
}

@keyframes lighton {
    0% { background-color: transparent;}
    50% {
        background-color: rgba(255,255,255,.5);
        backdrop-filter: blur(1rem),
    }
    100% { background-color: transparent;}
}

/* LOADING SETTING */
.loading__container {
    color: var(--White);
}
.loading__spin {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid var(--White);
    border-right: 2px solid rgba(0,0,0,0);
    animation: spin linear 1s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0)
    } to {
        transform: rotate(360deg)
    }
}

/* ERROR SETTING */
.error__container {
    color: var(--Red);
}

/* HOME SCREEN  */
.home__container {
    height: 80vh;
}

.home__grid {
    padding: 0 !important;
    width: 90%;
    max-width: 1248px;
    height: auto;
    min-width: 350px;
    margin: 0 auto;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home__item  {
    width: 45%;
    margin: 1rem;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details__item {
    height: 48%;
}

@media screen and (max-width: 1024px) {
    .home__grid {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-y: scroll;
    }

    .home__item {
        width: 100%;
        margin: 0 auto;
    }

    .home__item.main, .details__item {
        margin-bottom: 2rem;
    }

    .details__item {
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .nav__right {
        display: none;
    }

    .home__item.details {
        height: auto;
    }
}

@media screen and (max-width: 320px) {
    .home__item {
        max-width: 90%;
    }
}
/* FOOTER  */
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    font-size: var(--FontSizeXsmall);
    color: var(--White);
    font-weight: 200;
}